//-
	Контактная формаы

form
	input( type="text", value="", placeholder="Ваше имя" )
	input( type="email", value="", placeholder="Ваш email" )
	textarea( placeholder="Сообщение" )
	button( type="submit" ) Отправить