%button {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	border: none;
	padding: 1em 3em;
	color: #fff;
	text-transform: uppercase;
	border-radius: 2em;
	box-shadow: 0 .5em 1em rgba( 0, 0, 0, .2 );
	transition: box-shadow .2s;
	&:hover {
		text-decoration: none;
		box-shadow: 0 .5em 1em rgba( 0, 0, 0, .4 ); 
	}

}


%button-default {
	background-color: $brand-default;
}


%button-primary {
	background-color: $brand-primary;
}


%button-success {
	background-color: $brand-success;
}


%button-warning {
	background-color: $brand-warning;
}



%button-small {
	padding: .25em 1em;
	border-radius: .2em;
	font-size: 85%;
}



%button-large {
	padding: 1.5em 5em;
	border-radius: 2.5em;
}