//
//
//	ПОдвал сайта
//
//



.footer {

	padding: 2em 0;
	color: #fff;
	background-color: #cacaca;
	// text-shadow: .2em .2em 1em #000;

	// a {
	// 	color: #fff;
	// }


	.developer {
		text-align: right;
	}


}