













form {

	label {
		display: block;
		font-weight: bold;
		margin-top: .5em;
	}

	textarea,
	input[ type="text" ],
	input[ type="email" ],
	input[ type="password" ] {
		background-color: #fff;
		padding: 1em 1.5em;
		display: block;
		box-shadow: 0 .5em 1em rgba( 0, 0, 0, .5 );
		border: none;
		margin-top: 1em;
		margin-bottom: 1em;
		border-radius: .25em;
		width: 100%;
		box-sizing: border-box;
		outline: none;
		color: $text-color;
		&::placeholder {
			text-align: center;
			color: $titles-color;
		}
	}


	textarea {
		resize: vertical;
	}


	[ type="submit" ] {
		@extend %button;
		@extend %button-primary;
	}


}