//
//
//  Шапка сайта
//
//


.header {

	&--fixed {
		background-color: #fff;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		box-shadow: 0 0 1em rgba( 0, 0, 0, .5 );
	}

	&.header--stick .custom-logo-link {
		width: 3em;
		height: 3em;
	}

	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.custom-logo-link {
		margin-right: auto;
		max-width: 5em;
		transition: width .2s, height .2s;
	}

	.custom-logo {
		display: block;
		height: auto;
	}

	.nav {
		margin-left: auto;
	}

	.nav ~ .languages {
		margin-left: 2em;
	}

	.languages {
		font-size: 85%;
		margin-left: auto;
	}


	.burger-button {
		@extend %button;
		@extend %button-primary;
		@extend %button-small;
	}


}