.wrapper {
	display: block !important;
}

.about .overlay {
	display: block !important;
}

.directions .item {
	display: block !important;
}

.specialties .entry .title {
	display: block !important;
}

.teachers .item .overlay {
	display: block;
}

.cources .entry {
	display: block !important;
}

.cources .entry .permalink {
	display: block;
	text-align: center;
	max-width: 8em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}