nav#nav.nav
	ul.nav__list.list
		li: a( href="#" ) Главная
		li: a( href="#" ) Новости
		li.has-sub-menu
			a( href="#" ) Абитуриенту
			ul.sub-menu
				li: a( href="#" ) Специальности
				li: a( href="#" ) Особенности поступления
		li.has-sub-menu
			a( href="#" ) Студенту
			ul.sub-menu
				li: a( href="#" ) Расписание
				li: a( href="#" ) Рейтинги
				li: a( href="#" ) Олимпиады
		li.has-sub-menu
			a( href="#" ) О кафедре
			ul.sub-menu
				li: a( href="#" ) Историческая справка
				li: a( href="#" ) Коллектив
				li: a( href="#" ) Международные связи
				li: a( href="#" ) Направленния работы
				li: a( href="#" ) Официальные документы
		li: a( href="#" ) Контакты