nav#nav.nav
	ul.nav__list.list
		li: a( href="#" ) Главная
		li: a( href="#" ) Новости
		li.has-sub-menu
			a( href="#" ) Абитуриенту
			ul.sub-menu
				li.has-sub-menu
					a( href="#" ) Специальности
					ul.sub-menu
						li: a( href="#" ) Автоматизація та комп’ютерно-інтегровані технології
						li: a( href="#" ) Автоматизоване управління технологічними процесами
						li: a( href="#" ) Комп’ютерно-інтегровані технологічні процеси і виробництва
				li: a( href="#" ) Особенности поступления
				li.has-sub-menu
					a( href="#" ) Курсы
					ul.sub-menu
						li: a( href="#" ) Пользователь ПК
						li: a( href="#" ) Основы программирования
						li: a( href="#" ) Компьютерный дизайн
		li.has-sub-menu
			a( href="#" ) Студенту
			ul.sub-menu
				li: a( href="#" ) Расписание
				li: a( href="#" ) Рейтинги
				li: a( href="#" ) Олимпиады
		li.has-sub-menu
			a( href="#" ) О кафедре
			ul.sub-menu
				li: a( href="#" ) Историческая справка
				li: a( href="#" ) Коллектив
				li: a( href="#" ) Международные связи
				li: a( href="#" ) Направленния работы
				li: a( href="#" ) Официальные документы
		li: a( href="#" ) Контакты