

.mobilenav#mobilenav
	.bg
	.overlay
		button.close #[span.sr-only Закрыть меню]
		include ../navs/_languages
		h3 Меню
		ul
			li: a( href="#" ) Обо мне
			li: a( href="#" ) Образование
			li: a( href="#" ) Опыт работы
			li: a( href="#" ) Скилы
			li: a( href="#" ) Портфолио
			li: a( href="#" ) Контакты