.languages {

	list-style-type: none;
	padding-left: 0;
	
	li {
		display: inline-block;
	}

	.current {
		color: #fff;
		background-color: $brand-primary;
		padding: 0 1em;
	}

	a {
		display: block;
		padding: 0 1em;
	}

	a:hover {
		text-decoration: none;
		background-color: lighten( $brand-primary, 35% );
	}

}