.mobilenav {

	position: fixed;
	z-index: 1000;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	display: block;
	visibility: hidden;
	line-height: 2em;


	.bg {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		background-color: rgba( 0, 0, 0, .5 );
		z-index: 1;
	}


	.close {
		@extend %background-icon;
		display: block;
		float: right;
		width: 2em;
		height: 2em;
		margin: 1em;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $body-color;
		padding: 1em;
		min-width: 60%;
		overflow-x: hidden;
		overflow-y: scroll;
		transform: translate( 100%, 0% );
		transition: transform .2s .2s;
		z-index: 2;
		@include min-width ( $screen-sm ) { min-width: 50%; }
		@include min-width ( $screen-md ) { min-width: 40%; }
	}

}



.mobilenav.active {
	visibility: visible;
	.bg { opacity: 1; }
	.overlay { transform: translate( 0%, 0% ); }
}