.mobilenav {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	transition: opacity .2s;
	visibility: hidden;
	line-height: 2em;
	

	.bg {
		position: absolute;
		background-color: rgba( 0, 0, 0, .5 );
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	
	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		min-width: 40%;
		padding: .5em 2em;
		background-color: #fff;
		overflow-y: auto;
	}

	.overlay::after {
		content: '';
		display: block;
		height: 5em;
	}

}




.mobilenav.active {
	z-index: 999;
	opacity: 1;
	visibility: visible;
}