extend layout/_index


block variables
	- page.type = 'front-page';
	- page.title = 'Главная';



block main
	include home/_jumbotron
	include home/_about
	include home/_directions
	include home/_advertising
	include home/_specialties
	include home/_teachers
	include home/_indicators
	include home/_steps
	include home/_cources
	include home/_graduates
	include home/_advantages
	include home/_questions
	include asides/_basement