.about {

	margin: 1em 0;

	@include min-width( $screen-lg ) {
		margin: 5em 0;
	}

	.thumbnail {
		display: block;
		box-shadow: .5em .5em 1em rgba( 0, 0, 0, .2 );
		@include min-width( $screen-lg ) {
			// max-width: none;
			box-shadow: none;
		}
	}

	.overlay {
		margin-top: 1em;
		margin-bottom: 1em;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		position: relative;
		@include min-width( $screen-lg ) {
			margin-left: -10em;
			padding: 1em;
			background-color: #f2f2f2;
			min-height: 20em;
			box-shadow: 0 .5em 1em rgba( 0, 0, 0, .2 );
		}
	}

	.overlay::after {
		@include min-width( $screen-lg ) {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: .2em;
			background-image: linear-gradient(
				90deg,
				$brand-primary 0%,
				$brand-primary 25%,
				$brand-success 25%,
				$brand-success 50%,
				$brand-warning 50%,
				$brand-warning 75%,
				$brand-info 75%,
				$brand-info 100%
			);
		}
	}

	.title {
		max-width: 20em;
	}

	.permalink {
		@extend %button;
		@extend %button-primary;
		// @extend %button-large;
		margin-top: auto;
	}

}
