.graduates {

	background-color: #43444b;
	
	h2 {
		color: #fff;
	}

	h2 + p {
		color: #fff;
	}

	.item {
		// color: #fff;
	}

	&__item {

		.foto {
			max-width: 20em;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			display: block;
			box-shadow: .5em .5em 1em rgba( 0, 0, 0, .5 );
			border-bottom: .25em solid $brand-primary;
			margin-bottom: 2em;
		}

		.name {
			color: $brand-primary;
		}

		.specialty {
			font-weight: bold;
		}

		.overlay {
			background-color: #fff;
			padding: 2em 3em;
			border-bottom: .25em solid $brand-primary;
			box-shadow: .5em .5em 1em rgba( 0, 0, 0, .5 );
			margin-bottom: 2em;
		}

	}

}