.jumbotron {

	background-color: #43444b;
	text-align: center;
	min-height: 85vh;
	padding: 15em 0 5em 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.title {
		margin: 0;
		max-width: 25em;
		margin-left: auto;
		margin-right: auto;
	}

	.description {
		margin: 2em auto;
		max-width: 35em;
		margin-left: auto;
		margin-right: auto;
	}

	.permalink {
		@extend %button;
		@extend %button-primary;
		@extend %button-large;
		margin-top: 2em;
		margin-bottom: 1em;
	}


}