.specialties {

	.entry {
		display: block;
		position: relative;
		max-width: 35em;
		margin: 1em auto;
		box-shadow: .5em .5em 1em rgba( 0, 0, 0, .5 );
		transition: box-shadow .2s;
	}

	.entry:hover .title {
		background-color: $brand-primary;
		color: #fff;
		// box-shadow: .5 .5em 1em rgba( 0, 0, 0, .75 );
	}

	&__entry {

		.wp-post-thumbnail {
			display: block;
			width: 100%;
			height: auto;
		}

		.title {
			position: absolute;
			top: 50%;
			left: 0%;
			right: 0%;
			transform: translate( 0%, -50% );
			text-align: center;
			padding: .5em 1em;
			z-index: 2;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			min-height: 5em;
			border-top: .2em solid $brand-primary;
			border-bottom: .2em solid $brand-primary;
			transition: color .2s, background-color .2s;
		}

	}

}