.steps {

	counter-reset: steps;

	.item {
		position: relative;
		counter-increment: steps;
		margin-top: 2em;
		margin-bottom: 2em;
		@include min-width( $screen-md ) {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.item:nth-of-type( 1 ) .wrap { margin-top: 5em; }
	.item:nth-of-type( odd ) .wrap { left: 0; }
	.item:nth-of-type( even ) .wrap { right: 0; }

	&__item {

		.thumbnail {
			display: block;
			width: 400px;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			z-index: -1;
			margin-bottom: .5em;
			@include min-width( $screen-md ) {
				margin-bottom: 0;
			}
		}

		.wrap {
			background-color: #fff;
			max-width: 400px;
			margin: 0 auto;
			position: static;
			box-sizing: border-box;
			@include min-width( $screen-md ) {
				padding: 1em 0 1em 4em;
				position: absolute;
				top: -3em;
				box-shadow: .5em .5em 1em rgba( 0, 0, 0, .5 );
			}
		}

		.wrap::before {
			content: counter( steps );
			position: absolute;
			top: 0em;
			left: 0em;
			font-weight: bold;
			font-size: 3em;
			line-height: 1em;
			margin-top: .75em;
			margin-left: 1.25em;
			color: lighten( $text-color, 50% );
			@include min-width( $screen-md ) {
				margin-top: .25em;
				margin-left: .25em;
			}
		}

		.title {
			font-size: 1em;
			margin: 0;
		}

		.excerpt {
			@extend %small;
			margin: 0;
		}

		.link {
			@extend %button;
			@extend %button-primary;
			@extend %button-small;
		}

	}

}