.content
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet alias doloremque nostrum debitis commodi reiciendis id, aut, repudiandae asperiores perspiciatis pariatur labore earum quisquam vero voluptatem, in officiis magnam natus.
	p Nihil provident, minus possimus error odio iure quas illo officiis id ullam quisquam molestias voluptatum tempora sequi tenetur doloremque, vitae odit. Iure tempora recusandae tenetur natus blanditiis maiores officia facilis!
	p Unde possimus culpa tempora, dicta nobis consequuntur quidem maiores necessitatibus molestiae officia mollitia eius libero, voluptatem alias nostrum ratione voluptates, excepturi magni repellat esse dolorum laborum cumque odio ducimus labore.
	.accordio.accordio--success( data-heading="h2" )
		h2 Lorem ipsum dolor sit amet
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aspernatur, ratione voluptatum a, quam voluptate quibusdam reiciendis cupiditate quia fugiat earum, vero eveniet reprehenderit. Minima, dolores recusandae aut porro quam.
		h2 Consectetur adipisicing elit
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolores fuga reprehenderit cupiditate quam repellat veniam placeat magni, architecto natus quae, esse ut ipsam! Magnam dolor totam numquam dolores quia.
		h2 Quam excepturi voluptatum
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur molestias iure eius labore non recusandae autem ratione suscipit similique. Adipisci nesciunt dolor quo ducimus sed libero, ad sunt maiores. Perspiciatis!
		h2 Quisquam incidunt accusamus
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo omnis aut odit soluta corporis consequuntur, qui recusandae facilis minima asperiores, voluptatibus veritatis culpa esse inventore, temporibus ut error reiciendis hic!
	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, nemo ab ad libero earum veniam sapiente architecto alias ipsum, repellendus inventore fuga eius eaque dolorum eveniet quibusdam odit. Nobis, nisi.
	.tabs.tabs--success( data-heading="h2" )
		h2 Lorem ipsum
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aspernatur, ratione voluptatum a, quam voluptate quibusdam reiciendis cupiditate quia fugiat earum, vero eveniet reprehenderit. Minima, dolores recusandae aut porro quam.
		h2 Consectetur
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas dolores fuga reprehenderit cupiditate quam repellat veniam placeat magni, architecto natus quae, esse ut ipsam! Magnam dolor totam numquam dolores quia.