section.about: .container: .row.reverse.middle-xs
	.col-xs-12.col-sm-6.col-md-6.col-lg-6
		img.thumbnail.lazy( src="#", data-src=src.img+'about.png' )
	.col-xs-12.col-sm-6.col-md-6.col-lg-6.first-sm: .overlay
		h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit
		include ../blocks/_content
		a.permalink( href="#" ) Подробней