extend ../layout/_section

//-
	Главная странциа
	Блок с контактной формой

block variables
	-
		section_title = 'Get in Touch.';
		section_class = 'questions';
		section_id = 'questions';

block body
	.row.center-xs
		.col-xs-12.col-sm-9.col-md-6
			include ../forms/_contacts

block basement